<h3>Info your account</h3>

Hi you have created account for you 
Your username is : {{username}}
Your password is : {{password}}

{# example, assuming you have a route named "login" #}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}