<h3>You did it! You registered!</h3>

Hi guy your verifi is {{ verification }}

{# example, assuming you have a route named "login" #}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}