{% extends 'admin/base/base.html.twig' %}
{% block title %} Admin application {% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-5">
        <form action="{{ path('infoSubmitChangePassword') }}" method="POST">
            <div class="row">
                <label for="">Old password </label>
                <input type="password" name="old_pwd" class="form-control">
            </div>
            <div class="row">
                <label for="">New password </label>
                <input type="password" name="new_pwd" class="form-control">
            </div>
            <div class="row">
                <label for="">Password again </label>
                <input type="password" name="pwd_confirm" class="form-control">
            </div>
            <button class="btn btn-sm btn-primary mt-3">Change</button>
        </form>
        {% for message in app.flashes('error') %}
        <div class="alert alert-danger mt-1" role="alert">
            {{message}}
        </div>
    {% endfor %}
    </div>
 
</div>  
{% endblock %}

{% block javascript %}
    <script>
    
    </script>
{% endblock %}